set bell-style none
set completion-ignore-case On
set colored-stats On
set show-all-if-ambiguous On
set skip-completed-text On

TAB: menu-complete

# prepare to type a quoted word --
# insert open and close double quotes
# and move to just after the open quote
"\C-;\"": "\"\"\C-b"
"\C-;\'": "\'\'\C-b"
"\C-;(": "()\C-b"
"\C-;{": "{}\C-b"
"\C-;[": "[]\C-b"
"\C-;<": "<>\C-b"
# Quote the current or previous word
"\C-xq": "\eb\"\ef\""
"\C-xQ": "\eb\'\ef\'"
# Add a binding to refresh the line, which is unbound
"\C-xr": redraw-current-line

## BASH only commands
$if Bash
# This inserts a call the the clipboard
"\C-V": "$(xsel --clipboard)"

"\C-xgaa": "git add --all\n"
"\C-xgac": "git commit -a -m ''\C-b"
"\C-xgc": "git commit -m ''\C-b"
"\C-xgp": "git push origin master\n"
"\C-xgg": "git pull\n"
"\C-xgs": "git status\n"

$endif
